<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:arg name="sim_mode" default="true"/>
    <xacro:arg name="ecu_ip" default="10.30.30.30"/>
    <xacro:arg name="ecu_port" default="6000"/>
    
    <xacro:include filename="materials.xacro" />
    <xacro:include filename="inertia.xacro" />
    <xacro:include filename="robot_core.xacro" />
<!-- <xacro:include filename="camera.xacro" /> -->
    <xacro:include filename="stereo_camera.xacro" />
    <xacro:include filename="water_tank.xacro" />
<!-- <xacro:include filename="flexible_rod.xacro" /> -->
    <xacro:include filename="ros2_control.xacro" />
    <xacro:include filename="imu.xacro" />
    <xacro:include filename="lidar.xacro" />
</robot>